@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #ffffff;
}

/*__________________Navigationsleiste groß___________________*/

nav {
  background: #0171bd;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0px;
  min-width: 950px;
}


nav:after {
  content: '';
  clear: both;
  display: table;
}

nav .logo {
  /*float: left;*/
  color: white;
  padding-left: 60px;
  padding-top: 15px;
  display: flex;
}

nav .speechie {
  font-family: 'Syne', sans-serif;
  float: left;
  color: white;
  font-size: 35px;
}

nav ul {
  float: right;
  margin-right: 40px;
  list-style: none;
  position: relative;
}

nav ul li {
  display: inline-block;
  background: #0171bd;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  line-height: 70px;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 15px;
}

nav ul li a:hover {
  color: cyan;
  border-radius: 5px;
  box-shadow: 0 0 5px #33ffff, 0 0 10px #66ffff;
}

nav ul ul li a:hover {
  box-shadow: none;
}

nav ul ul {
  position: absolute;
  top: 90px;
  border-top: 3px solid cyan;
  opacity: 0;
  visibility: hidden;
  transition: top 0.3s;
}

nav ul ul ul {
  border-top: none;
}

nav ul li:hover > ul {
  top: 70px;
  opacity: 1;
  visibility: visible;
}

nav ul ul li {
  position: relative;
  margin: 0px;
  width: auto;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.show,
.icon,
input {
  display: none;
}

.fa-plus {
  font-size: 15px;
  margin-left: 40px;
}

/*__________________Audio___________________*/
audio {
  transform: translate(-50%, -50%);
  position: relative;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  border: 5px solid #0171bd ;
  width: 200%;
}

.audiobar {
  top: 15px;
  padding-left: 50%;
  position: relative;
}

.custom-text{
  margin-top: -35px;
  margin-left: -360px;
  position: relative;
  padding-bottom: 10px;
}

audio::-webkit-media-controls-panel{
  background-color: rgb(255, 255, 255);
}

/*__________________Transkriptions-Container___________________*/
.content {
  z-index: -1;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.interim {
  margin-bottom: 20px;
}

p {
  font-size: 15px;
  font-weight: 500;
}

fieldset {
  max-width: 30%;
  margin: auto;
  border: none;
  padding-top: 100px;
  border-radius: 4px;
}

.final {
  width: 100%;
  min-height: 35em;
  min-width: 35em;
  display: block;
  border: 5px solid #0171bd;
  border-radius: 4px;
  padding: 2em;
  background-color: white;
}

textarea {
  width: 100%;
  min-height: 12em;
  min-width: 55em;
  display: block;
  border: 1px solid #999;
  border-radius: 4px;
  padding: 2em;
  background-color: rgb(228, 228, 228);
  border: 5px solid #0171bd;
}

/*__________________Untere Buttonleite___________________*/

#play-button {
  position: relative;
  left: 42%;
  top: 50%;
  cursor: pointer;
  font-size: 40px;
  
  }
  
  #btnSave {
  position: relative;
  top: 50%;
  cursor: pointer;
  font-size: 40px;
  float: left;
  }
  
  i:hover {
  text-shadow: 0 0 10px #0171bd;
  }
  
  .colorbutton {
  font-size: 30px;
  margin-right: 15px;
  margin-left: 15px;
  }
  
  .buttons {
  justify-content: center;
  display: flex;
  position: relative;
  }
  
  .coloredButtons {
  padding: 5px;
  margin-left: 62%;
  background-color: lightgrey;
  border-radius: 50px;
  }

.speakerred {
  color: red;
}

.speakergreen {
  color: green;
}

.speakerpurple {
  color: purple;
}

.clicked {
    text-shadow: 0 0 10px black;
}

/*__________________Darkmode___________________*/

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  margin-left: 30px;
  margin-top: -880px;
  background-color: #999;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  height: 18px;
  width: 35px;
  transform: scale(1.5);
  position: absolute;
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 15px;
  width: 15px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(18px);
}

.fa-moon {
  color: #f1c40f;
  font-size: 10px;
}

.fa-sun {
  color: #f39c12;
  font-size: 10px;
}

body.dark {
  background: #2a2a2a;
  transition: 0.2s;
}

.darkmode {
  padding-left: -230px;
}

.darkbuttons {
  color: white;
}

.darkAudioText {
  color: white;
}

/*Roboter*/

#roboter {
  position: absolute;
  width: 400px;
  height: auto;
  display: flex;
}
#text-area {
  height: 42%;
  width: 65%;
  position: absolute;
  top: 2px;
  left: 33%;
}
#speechie-robot {
  width: 100%;
  height: 100%;
}
#info-text {
  overflow: scroll;
  height: 100%;
  overflow-wrap: break-word;
}
.hidden {
  visibility: hidden;
}

.roboter-visible {
  visibility: visible;
  position: absolute;
  width: 50px;
  height: 50px;
  transform: translate(-50%);
  top: 350px;
  left: 1000px;
}

#clicks {
  position: absolute;
  border-style: none;
  background-color: none;
  bottom: 0;
  right: 3%;
}

#clicks:hover {
  cursor: pointer;
  color: red;
}

.roboter-step1 {
  left: 650px;
  top: 850px;
}
.roboter-step2 {
  top: 700px;
  left: 330px;
}
.roboter-step3 {
  top: 450px;
  left: 330px;
}
.roboter-step4 {
  top: 850px;
  left: 18%;
}

.roboter-step6 {
  top: 20px;
  left: 570px;
}

.roboter-step7 {

  top: 850px;
  left: 870px;
}

.mdn-logo {
  width: 150px;
  padding-top: 5px;
  float: left;
}

.speechie-logo {
  display: flex;
  padding-right: 2px;
}

.speechie {
  display: flex;
  margin: auto;
  padding-left: 170px;
}
