@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #ffffff;
}


/*__________________Navigationsleiste groß___________________*/

nav {
  background: #0171bd;
}

nav:after {
  content: '';
  clear: both;
  display: table;
}

nav .logo {
  float: left;
  color: white;
  padding-left: 60px;
  padding-top: 15px;
}

nav .speechie {
  font-family: 'Syne', sans-serif;
  float: left;
  color: white;
  font-size: 35px;
  padding-left: 10px;
  padding-top: 15px;
}

nav ul {
  float: right;
  margin-right: 40px;
  list-style: none;
  position: relative;
}

nav ul li {
  float: left;
  display: inline-block;
  background: #0171bd;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  line-height: 70px;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 15px;
}

nav ul li a:hover {
  color: cyan;
  border-radius: 5px;
  box-shadow: 0 0 5px #33ffff, 0 0 10px #66ffff;
}

nav ul ul li a:hover {
  box-shadow: none;
}

nav ul ul {
  position: absolute;
  top: 90px;
  border-top: 3px solid cyan;
  opacity: 0;
  visibility: hidden;
  transition: top 0.3s;
}

nav ul ul ul {
  border-top: none;
}

nav ul li:hover > ul {
  top: 70px;
  opacity: 1;
  visibility: visible;
}

nav ul ul li {
  position: relative;
  margin: 0px;
  width: auto;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.show,
.icon,
input {
  display: none;
}

.fa-plus {
  font-size: 15px;
  margin-left: 40px;
}

.far fa-question-circle {
  color: #0171bd;
}

/*__________________Navigationsleiste klein___________________*/

@media all and (max-width: 968px) {
  nav ul {
    margin-right: 0px;
    float: left;
  }

  nav .logo {
    padding-left: 30px;
    width: 100%;
  }

  .show + a,
  ul {
    display: none;
  }

  nav ul li,
  nav ul ul li {
    display: block;
    width: 100%;
  }

  nav ul li a:hover {
    box-shadow: none;
  }

  .show {
    display: block;
    color: white;
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer;
  }

  .show:hover {
    color: cyan;
  }

  .icon {
    display: block;
    color: white;
    position: absolute;
    top: 0;
    right: 40px;
    line-height: 70px;
    cursor: pointer;
    font-size: 25px;
  }

  nav ul ul {
    top: 70px;
    border-top: 0px;
    float: none;
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
  }

  nav ul ul a {
    padding-left: 40px;
  }

  nav ul ul ul a {
    padding-left: 80px;
  }

  nav ul ul ul li {
    position: static;
  }

  [id^='btn']:checked + ul {
    display: block;
  }

  nav ul ul li {
    border-bottom: 0px;
  }

  span.cancel:before {
    content: '\f00d';
  }
}

p {
    font-size: 15px;
    font-weight: 500;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;

}

/*__________________Audio___________________*/
audio {
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  z-index: -100;
}

.audiobar {
  margin-bottom: 15px;
}

/*__________________Transkriptions-Container___________________*/
.content {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.interim {
  margin-bottom: 20px;
}

p {
  font-size: 15px;
  font-weight: 500;
}

fieldset {
  max-width: 30%;
  margin: 1em auto;
  padding: 2em;
  border: none;
  border-radius: 4px;
}

.final {
  width: 100%;
  min-height: 35em;
  min-width: 35em;
  display: block;
  border: 5px solid #0171bd;
  border-radius: 4px;
  padding: 2em;
  background-color: white;
}

textarea {
  width: 100%;
  min-height: 12em;
  min-width: 55em;
  display: block;
  border: 1px solid #999;
  border-radius: 4px;
  padding: 2em;
  background-color: rgb(228, 228, 228);
  border: 5px solid #0171bd;
}

/*__________________Untere Buttonleite___________________*/

#play-button {
  position: relative;
  left: 42%;
  top: 50%;
  cursor: pointer;
  font-size: 40px;
}

#btnSave {
  position: relative;
  top: 50%;
  cursor: pointer;
  font-size: 40px;
  float: left;
}

i:hover {
  text-shadow: 0 0 10px #0171bd;
}

.colorbutton {
  font-size: 30px;
  margin-right: 15px;
  margin-left: 15px;
}

.buttons {
  justify-content: center;
  display: flex;
  position: relative;
}

.coloredButtons {
  padding: 10px;
  margin-left: 60%;
  background-color: lightgrey;
  border-radius: 50px;
}

.speakerred {
  color: red;
}

.speakergreen {
  color: green;
}

.speakerpurple {
  color: purple;
}

/*__________________Darkmode___________________*/

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  margin-left: 10px;
  margin-top: 60px;
  background-color: #999;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 18px;
  width: 35px;
  transform: scale(1.5);
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 15px;
  width: 15px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}


.checkbox:checked + .label .ball {
    transform: translateX(18px);
  }
  
  .fa-moon {
    color: #f1c40f;
    font-size: 10px;
  }
  
  .fa-sun {
    color: #f39c12;
    font-size: 10px;
  }
  
  body.dark {
    background: #2a2a2a;
    transition: 0.2s;
  }
  
  .darkmode {
    padding-left: -230px;
  }
  
  .darkbuttons {
    color: white;
  }
  
  .darkAudioText {
    color: white;
  }
  

/*Roboter*/

#roboter {
    position: absolute;
    width: 400px;
    height: auto;
    display: flex;
}
#text-area {
    height: 42%;
    width: 65%;
    position: absolute;
    top: 2px;
    left: 33%;
    background: none;
    border: none;
}
#speechie-robot {
    width: 100%;
    height: 100%;
}
#info-text {
    overflow: scroll;
    height: 100%;
    overflow-wrap: break-word;
    background: none;
    border: none;
    margin: 5px;
}
.hidden {
    visibility: hidden;
}

.roboter-visible {
    visibility: visible;
    position: absolute;
    width: 50px;
    height: 50px;
    transform: translate(-50%);
    top: 350px;
    left: 1000px;
 
}

#clicks {
    position: absolute;
    border-style: none;
    background-color: none;
    bottom: 0;
    right: 3%;
}
.fa-times-circle{
  position: absolute;
  border-style: none;
  background-color: none;
  bottom: 0;
  left: 3%;
}

#clicks:hover, .fa-times-circle:hover{
    cursor: pointer;
    color: #0171bd;
}

.roboter-step1 {
    left: 650px;
    top: 850px;
  
}
.roboter-step2 {
    top: 700px;
    left: 330px;
}
.roboter-step3 {
    top: 450px;
    left: 330px;
}
.roboter-step4 {
    top: 850px;
    left: 18%;
}

.roboter-step6 {
    top: 20px;
    left: 570px;
}

.roboter-step7 {
    top: 850px;
    left: 870px;
}

.pulse{ 
  animation: pulse 1s infinite;
  animation-timing-function: linear;
 
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.3);}
  100% { transform: scale(1); }
  }

  .pulse-light{ 
    animation: pulse-light 1s infinite;
    animation-timing-function: linear;
   
  }
  
  @keyframes pulse-light {
    0% { transform: scale(1); }
    50% { transform: scale(1.05);}
    100% { transform: scale(1); }
    }

.anleitung {
  width: 80%;
  height: 80%;
  background-color: #0171bd;
  z-index: 100;
  position: absolute;
  left: 10%;
  top: 10%;
  border-radius: 15px;
}

#closeAnleitung {
  background: none;
  position: relative;
  font-size: 25px;
  transform: translate();
  color: white;
  top: 2%;
  left: 2%;
}

#anleitung-1 {
  width: 100%;

}

#wrapper-anleitung {
  width: 90%;
  height: 90%;
  z-index: 100;
  left: 5%;
  top: 5%;
  position: absolute;
  overflow: scroll;
  object-fit: contain;
}


  
